<div class="card p-5">
    <h2  class="mb-4">Destek Talebi Oluştur</h2>

    <form (ngSubmit)="talepGonder()">

        <div class="field">
            <label for="ad">Ad Soyad</label>
            <input id="ad" name="ad" type="text" pInputText required placeholder="Adınızı girin" [(ngModel)]="talep.adSoyad">
        </div>

        <div class="field">
            <label for="email">E-posta</label>
            <input id="email" name="email" type="email" pInputText required placeholder="ornek@mail.com" [(ngModel)]="talep.email">
        </div>

        <div class="field">
            <label for="konu">Konu</label>
            <input id="konu" name="konu" type="text" pInputText required placeholder="Talep konusu" [(ngModel)]="talep.konu">
        </div>

        <div class="field">
            <label for="kategori">Kategori</label>
            <p-dropdown
                [options]="kategoriler"
                [(ngModel)]="talep.kategoriId"
                optionLabel="kategoriAd"
                optionValue="kategoriId"
                placeholder="Kategori seçin"
                name="kategori"
            ></p-dropdown>
        </div>

        <div class="field">
            <label for="aciklama">Açıklama</label>
            <textarea id="aciklama" name="aciklama" rows="5" pInputTextarea required placeholder="Sorununuzu açıklayın" [(ngModel)]="talep.aciklama"></textarea>
        </div>

        <p-button type="submit"> Talebi Gonder</p-button>
    </form>
</div>
